# Data Science Tools and Ecosystem

>In this notebook, Data Science Tools and Ecosystem are summarized.

> **Objectives:**
>   * List popular languages for Data Science
>   * List popular libraries used by Data Scientists
>   * Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
---
    1. Python
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists include:
---
    * dplyr
    * ggplot2
    * tidyr

| Data Science Tools |
|----------|
| IDEs: Jupyter Notebooks / PyCharm / Visual Studio Code | 
| Google Cloud Platform |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Hejia Tang